@font-face {
    font-family: 'SysFontPixel';
    src: url('sysfont.otf') format('opentype');
  }
@font-face {
  font-family: 'SysFont' ;
  src: url(ChicagoFLF.ttf) format('truetype');
}

body {
    font-family: 'SysFont', sans-serif; /* Fallback to sans-serif if the custom font fails to load */
}